[submodule "bash/mutdetect"]
	path = bash/mutdetect
	url = https://github.com/jos4uke/mutdetect.git
[submodule "bash/bash-common"]
	path = bash/bash-common
	url = https://github.com/jos4uke/bash-common.git
[submodule "perl/vcfEffOneLine"]
	path = perl/vcfEffOneLine
	url = https://github.com/jos4uke/vcfEffOneLine.git
[submodule "python/dreamFileMaker"]
	path = python/dreamFileMaker
	url = https://github.com/jos4uke/dreamFileMaker.git
[submodule "python/fileMatch"]
	path = python/fileMatch
	url = https://github.com/jos4uke/fileMatch.git
